<style>
  p
            {color: rgb(255, 122, 180);
                
            } 

 body
            { 
                background-color: rgb(234, 196, 255);
                
            }

 #intro {
            font-family:monospace;
            
          
        }

#extracurc {
  font-family:fantasy;

  
</style>
