<style>

 h2 {
            color: rgb(97, 215, 255);
            font-size: 1.5em;
 }
  p
            {color: rgb(255, 122, 180);
                
            } 

 body
            { 
                background-color: rgb(234, 196, 255);
                
            }

 #intro {
            font-family:monospace;
     background-color: lightblue;
    font-style: italic;
            
          
        }

#extracurc {
  font-family:fantasy;
    background-color: lightblue;
   font-weight: bold;

}

  
</style>
